{{ template "_layout-start.html" "Index page" }}

<div class="fixed top-0 left-0 h-full w-full mt-20 p-4 md:p-8">
  {{ template "_alert.html" .Error }}
  <form class="card max-w-screen-md bg-base-200 shadow-xl mx-auto" method="POST">
    <div class="card-body">
      <h1 class="card-title">Authenticate yourself</h1>
      <label class="form-control w-full max-w-xs" for="name">
        <div class="label">
          <span class="label-text">Enter your username</span>
        </div>
        <input type="text" value="{{ .Username }}" id="name" name="username"
          class="input input-bordered w-full max-w-xs" />
      </label>
      <label class="form-control w-full max-w-xs" for="pw">
        <div class="label">
          <span class="label-text">Enter your password</span>
        </div>
        <input type="text" value="{{ .Password }}" id="pw" name="password"
          class="input input-bordered w-full max-w-xs" />
      </label>
      <div class="card-actions justify-end">
        <button class="btn btn-primary">Sign in / Create account</button>
      </div>
    </div>
  </form>
</div>

{{ template "_layout-end.html" }}